In [7]:
import pandas as pd
from sql import *
from datetime import datetime

df = pd.read_csv("DATASET/base.csv")

# Get column names and data types
typesColumns = [(col, str(df[col].dtype)) for col in df.columns]

# Exibir os nomes das colunas e os tipos de dados
for info in typesColumns:
    print(info)

('Time', 'float64')
('V1', 'float64')
('V2', 'float64')
('V3', 'float64')
('V4', 'float64')
('V5', 'float64')
('V6', 'float64')
('V7', 'float64')
('V8', 'float64')
('V9', 'float64')
('V10', 'float64')
('V11', 'float64')
('V12', 'float64')
('V13', 'float64')
('V14', 'float64')
('V15', 'float64')
('V16', 'float64')
('V17', 'float64')
('V18', 'float64')
('V19', 'float64')
('V20', 'float64')
('V21', 'float64')
('V22', 'float64')
('V23', 'float64')
('V24', 'float64')
('V25', 'float64')
('V26', 'float64')
('V27', 'float64')
('V28', 'float64')
('Amount', 'float64')
('Class', 'int64')

# QUERY PARA CRIAÇÃO DE TABELA <H5>

CREATE TABLE IF NOT EXISTS dataCredit (
    Time INT, <br> 
    V1 FLOAT, <br> 
    V2 FLOAT, <br> 
    V3 FLOAT, <br> 
    V4 FLOAT, <br> 
    V5 FLOAT, <br> 
    V6 FLOAT, <br> 
    V7 FLOAT, <br> 
    V8 FLOAT, <br> 
    V9 FLOAT, <br> 
    V10 FLOAT, <br> 
    V11 FLOAT, <br> 
    V12 FLOAT, <br> 
    V13 FLOAT, <br> 
    V14 FLOAT, <br> 
    V15 FLOAT, <br> 
    V16 FLOAT, <br> 
    V17 FLOAT, <br> 
    V18 FLOAT, <br> 
    V19 FLOAT, <br> 
    V20 FLOAT, <br> 
    V21 FLOAT, <br> 
    V22 FLOAT, <br> 
    V23 FLOAT, <br> 
    V24 FLOAT, <br> 
    V25 FLOAT, <br> 
    V26 FLOAT, <br> 
    V27 FLOAT, <br> 
    V28 FLOAT, <br> 
    Amount FLOAT, <br> 
    _Class INT
    )

# Para inserção dos registros, foi feito upload do arquivo base.csv no S3 e executado o seguinte comando:

DOCS: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PostgreSQL.S3Import.InstallExtension.html


SELECT aws_s3.table_import_from_s3(
  'datacredit',
  '',
  '(format csv, header true)',
  aws_commons.create_s3_uri('tech-challenge-will', 'TC_FASE_3/base.csv', 'us-east-1')
);